.main{

}

.main-block-head{
	background-image: url(images/img05.jpg);
	background-repeat: no-repeat;
	width: 600px;
	height: 40px;
	font-size: 20px;
}

.main-block-date{
	text-align: right;
	color: lightgray;
}

.main-block-name{
	padding-left: 40px;
	color: white;
}

.main p{
	width: 570px;
	padding-left: 20px;
	color: darkgray;
	font-family: Calibri, serif;
	line-height: 2;
	font-size: 12px;
}

.main a{
	color: black;
}
